.tópicos {
    background: var(--azul);
    text-align: center;
    padding: 1em 0;
}
.tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
}

.tópicos__lista{
    display: flex;
    flex-wrap: wrap; /*Faz a quebra de linha no texto , esse flex não deixa que os itens "saiam" da tela*/
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link{
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}